@charset "utf-8";

* {
    margin: 0;
    padding:0;
    font-size: 14px;
}

html, body {
    background: white;
    height: 100%;
    font-family: Damascus, Times;
}

main {
    display: block;
    height: 100%;
}

input[type="image"]:focus {
    outline:0;
}

#main-cont {
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: stretch;
    z-index: 1;
    margin-bottom: 60px;
}

#side-bar {
    left: 0;
    top: 0;
    width:100%;
    display: flex;
    max-width: 200px;
    background: #555555;
    height: 100%;
    border-right: 1px solid #777777;
}

#middle-cont {
    display: flex;
    top:0;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    width: 100%;
    max-height: 100%;
    background: linear-gradient(90deg, #666666, #333333);
}

/***** Start Mainbar *****/
#main-bar {
    display: flex;
    position: fixed;
    margin: 0 auto;
    top: 0;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #777777;
    align-items: center;
    align-content: stretch;
    background: linear-gradient(90deg, #666666, #333333);
}

#main-bar a {
    color: #CCCCCC;
}

.nav-arrow {
    font-size: 25px;
    width: 40px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#search-control {
    display: flex;
    justify-content: center;
    text-decoration: none;
    border-radius: 20px;
    overflow: hidden;
    border-color: #CCCCCC;
    background: white;
}

#search-input {
    height: 24px;
    max-width: 160px;
    border-radius: 0;
    border-color: grey;
    color: grey;
    box-shadow: none;
    border-width: 0;
    box-sizing: border-box;
    margin-left: 10px;
}


#search-submit {
    height: 24px;
    width: 24px;
    border: none;
    margin-right: 10px;
}
/***** End Mainbar *****/


/***** Start Project Content *****/
#project-outer-cont {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    flex: 1;
    max-width: 100%;
    padding: 0 10px;
    margin-top: 40px;
    height: 100%;
    overflow-y: scroll;
}

/***** Start Project Cont Top *****/
#project-cont-top {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
    width: 100%;
    max-width: 100%;
    max-height: 180px;
    padding: 10px 0;
}

#project-cont-art {
    display:flex;
    max-width: 180px;
    max-height: 100%;
    padding: 10px;
}

#project-art {
    display: flex;
    width: 160px;
    max-height: 100%;
}

#project-art img {
    max-width: 100%;
    max-height: 100%;
}


#project-cont-info {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    width:75%;
    padding: 10px;
}

#project-title {
    color: #CCCCCC;
}

#project-artist {
    color: #CCCCCC;
}

/***** End Project Cont Top *****/

/***** Start Project Cont Btm *****/

#project-cont-btm {
    display: flex;
    flex-direction: column;
    flex:1;
    min-width: 1px;
    max-width: 100%;
    min-height: 1px;
    max-height: 100%;
    padding:0 10px;
}

.project-track-cont {
    display: flex;
    flex-direction: row;
    flex:1;
    justify-content: flex-start;
    min-width: 1px;
    max-width: 100%;
    min-height: 1px;
    max-height: 30px;
    border-top: 1px solid #777777;
    padding:0px 10px;
}

.project-track-cont a {
    text-decoration: none;
    color: #CCCCCC !important;
}

.project-track-cont:hover {
    filter: brightness(125%);
    outline:0;
}

.project-track-cont:hover .project-track-no-cont p span {
    display: none;
}

.project-track-cont:hover .project-track-no-cont p:before {
    position: relative;
    top:4px;
    content: url("images/play_small.png");
}

.project-track-cont:hover .project-track-no-cont p:hover {
    filter: brightness(200%);
}

.project-track-cont:hover .project-track-title-cont a:hover {
    color:#EEEEEE !important;
}

.project-track-no-cont {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    width: 100%;
    max-width: 30px;
    height: 100%;
}

.project-track-title-cont {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.project-track-time-cont{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 40px;
    width: 100%;
    height: 100%;
}
/***** End Project Cont Btm *****/
/***** End Project Content *****/

/***** Start Playback *****/
#play-cont {
    display: flex;
    position: fixed;
    background: linear-gradient(#999999, #CCCCCC);
    height: 70px;
    margin: 0 auto;
    margin-top: 1px;
    width: 100%;
    bottom: 0;
    justify-content: space-between;
    align-items: stretch;
    z-index: 1;
}

#play-now {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding:5px 5px;
    max-width: 230px;
    justify-content: space-between;
    align-items: center;
}

#play-now div {
    margin: 0 5px;
}

#play-img {
    display: flex;
    height: 50px;
    width: 100%;
    max-width: 50px;
    overflow: hidden;
}

#play-img img{
    max-width: 100%;
    max-height: 100%;
}

#play-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#play-title p{
    font-size: 14px;
    margin: 2px 0px;
}

#play-artist p{
    font-size: 12px;
    margin: 2px 0px;
}

#play-back {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    padding: 0 20px;
}

#play-back-top {
    display: flex;
    width: 100%;
    max-width: 200px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

#play-back-btm {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    margin: 5px 0px;
}

#progress-cont {
    width: 100%;
    background-color: grey;
    height:8px;
    border-radius:8px;
}

#progress-bar {
    width: 0px;
    display: flex;
    color: mediumseagreen;
    background: #006B5A;
    height:100%;
    transition: width .1s linear;
    border-radius:8px;
}

.play-back-timing {
    display: flex;
    justify-content: center;
    align-content: center;
    justify-content: center;
    color: #000000;
    min-height: 10px;
    min-width: 10px;
    padding: 0px 5px;
}

.play-back-btns {
    display: flex;
    width: 12px;
    height: 12px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

#play-track {
    width: 18px;
    height: 18px;
}

#play-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 230px;
}

/***** End Playback *****/

.content-spacing {
    padding:0 15px;
}