@charset "utf-8";

* {
    margin: 0;
    padding:0;
    font-size: 14px;
}

html, body {
    background: white;
    height: 100%;
    font-family: Damascus;
}

main {
    display: block;
    height: 100%;
}

#main-cont {
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: stretch;
    z-index: 1;
    margin-bottom: 60px;
}

#side-bar {
    left: 0;
    top: 0;
    width:100%;
    display: flex;
    max-width: 220px;
    background: deepskyblue;
    height: 100%;
}

#middle-cont {
    display: flex;
    top:0;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    width: 100%;
    background: blueviolet;
    max-height: 100%;
}

/***** Start Mainbar *****/
#main-bar {
    display: flex;
    position: fixed;
    margin: 0 auto;
    top:0;
    width:100%;
    height: 40px;
    background: bisque;
    align-items: center;
    align-content: stretch;
}

.nav-arrow {
    font-size: 25px;
    width: 40px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#search-control {
    display: flex;
    justify-content: center;
    text-decoration: none;
    border: solid 2px;
    border-radius: 20px;
    overflow: hidden;
    border-color: #CCCCCC;
    background: white;
}

#search-input {
    height: 24px;
    max-width: 160px;
    border-radius: 0;
    border-color: grey;
    color: grey;
    box-shadow: none;
    border-width: 0;
    box-sizing: border-box;
    margin-left: 10px;
}


#search-submit {
    height: 24px;
    width: 24px;
    border: none;
    margin-right: 10px;
}
/***** End Mainbar *****/


/***** Start Project Content *****/
#project-outer-cont {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    flex: 1;
    max-width: 100%;
    padding: 0 10px;
    margin-top: 40px;
    height: 100%;
    overflow-y: scroll;
}

/***** Start Project Cont Top *****/
#project-cont-top {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
    background: deeppink;
    width: 100%;
    max-width: 100%;
    max-height: 180px;
    padding: 10px 0;
}

#project-cont-art {
    display:flex;
    background: turquoise;
    width:25%;
    max-width: 25%;
    max-height: 100%;
    flex: 1;
    padding: 10px;
}

#project-art {
    display: flex;
    background: white;
    width: 100%;
    max-height: 100%;
}


#project-cont-info {
    display: flex;
    flex-direction: column;
    background: rosybrown;
    max-height: 100%;
    width:75%;
    max-width: 75%;
    padding: 10px;
}

#project-title {

}

#project-artist {

}

/***** End Project Cont Top *****/

/***** Start Project Cont Btm *****/

#project-cont-btm {
    display: flex;
    flex-direction: column;
    flex:1;
    min-width: 1px;
    max-width: 100%;
    min-height: 1px;
    max-height: 100%;
    padding:0 10px;
    background: springgreen;
}

.project-track-cont {
    display: flex;
    flex-direction: row;
    flex:1;
    justify-content: flex-start;
    min-width: 1px;
    max-width: 100%;
    min-height: 1px;
    max-height: 30px;
    background: darkcyan;
    border-top: 1px solid;
    padding:0px 10px;
}

.project-track-cont:hover {
    filter: brightness(125%);
}

.project-track-cont:hover .project-track-no-cont p {
    display: none;
}

.project-track-cont:hover .project-track-no-cont:before {
    position: relative;
    right:145px;
    content: url("images/play.png");
    transform: scale(.03);
}

.project-track-cont:hover .project-track-no-cont:hover {
    filter: brightness(200%);
}

.project-track-cont:hover .project-track-title-cont p:hover {
    color:yellow;
}

.project-track-no-cont {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    width: 100%;
    max-width: 30px;
    height: 100%;
}

.project-track-title-cont {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.project-track-time-cont{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 40px;
    width: 100%;
    height: 100%;
}
/***** End Project Cont Btm *****/
/***** End Project Content *****/

/***** Start Playback *****/
#play-cont {
    display: flex;
    position: fixed;
    background: yellow;
    height: 60px;
    margin: 0 auto;
    margin-top: 1px;
    width: 100%;
    bottom: 0;
    justify-content: space-between;
    align-items: stretch;
    z-index: 1;
}

#play-now {
    display: flex;
    flex-direction: row;
    background: orangered;
    width: 100%;
    padding:10px 5px;
    max-width: 200px;
    justify-content: space-between;
    align-items: center;
}

#play-now div {
    margin: 0 5px;
}

#play-img {
    display: flex;
    background: azure;
    height: 40px;
    width: 100%;
    max-width: 40px;
}

#play-info {
    display: flex;
    background: azure;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

#play-title {

}

#play-artist {

}

#play-back {
    display: flex;
    background: deeppink;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    padding: 0 20px;
}

#play-back-top {
    display: flex;
    background: orange;
    width: 100%;
    max-width: 200px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

#play-back-btm {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
}

#progress-cont {
    width: 100%;
    background-color: grey;
    height:8px;
    border-radius:8px;
}

#progress-bar {
    width: 0px;
    display: flex;
    color: mediumseagreen;
    background: #006B5A;
    height:100%;
    transition: width .1s linear;
    border-radius:8px;
}

.play-back-timing {
    display: flex;
    justify-content: center;
    align-content: center;
    background: #CCCCCC;
    min-height: 10px;
    min-width: 10px;
    padding: 0px 5px;
}

.play-back-btns {
    display: flex;
    background: coral;
    width: 12px;
    height: 12px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

#play-track {
    width: 18px;
    height: 18px;
}

#play-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    background: green;
    width: 100%;
    max-width: 200px;
}

/***** End Playback *****/

.content-spacing {
    padding:0 15px;
}